.main{
  display : grid;
  grid-template-rows: 1fr 19fr;
  background-color: #15182f;
}

.contentPane {
  display : grid;
  grid-template-columns: 2fr 1fr;
}

.header {
  display : flex;
  padding : 10px;
}

.left {
  padding: 10px;
}

.right {
  padding: 10px;
  height : 100%;
}

h2 {
  color : white;
  background-color: #15182f;
}

h4 {
  color : white;
  background-color: #15182f;
}

body {
  color : white;
  background-color: #15182f;
}
